.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    margin-bottom: 8em;
}

.jumbotron {
    margin-bottom: 2em;
    margin-top: 8em;
    padding: 1em;
}

.navbar-brand {
    font-family: Arial;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}